[2014-03-04 20:49] jensimmons opened #4 "Episode 60"
So, rev.com just volunteered to transcribe episode 60 — so don't anyone else do it.

[2014-03-21 15:07] #4 closed, assigned to nobody

[2014-03-21 15:07] jensimmons opened #6 "Switching to Jekyll"
I'm going to switch this repo over to Jekyll.

[2014-03-25 02:22] #6 closed, assigned to nobody

[2014-04-01 20:22] davidpeach opened #7 "Episode 21: Process & Tools with Paul Irish (still needs transcript)"
I'm going to start transcribing episode 21: Process & Tools with Paul Irish.

[2014-04-02 13:30] mf3k opened #8 "Episode 34: Intro to The Web Behind"
i was thinking about transcribing the web behind episodes first, if that's ok. i'll start with the intro episode and work my way up.

[2014-04-03 05:30] mattsugihara opened #9 "Episode 64"
started listening to it on a flight, figured why not start there!

[2014-04-09 19:05] jensimmons opened #10 "Episode 65"
I'm going to see about getting ep65 done. I _really_ want this one, asap. If it doesn't happen, I'll circle back and see if people would volunteer. But until then, don't do 65. It might be coming very soon.

[2014-04-21 22:45] #10 closed, assigned to nobody

[2014-05-02 19:50] mattsugihara opened #12 "Episode 24"

[2014-05-02 23:24] #9 closed, assigned to nobody

[2014-05-04 18:42] eliotsykes opened #13 "Episode 13: Education with Dan Benjamin"
The 1st episode of The Web Ahead I listened to! If anyone has any transcription tips or software suggestions for Mac please share.

[2014-05-10 00:20] mattsugihara opened #15 "Auto-updating nav"
Hey all,

Would it be useful to have the index automatically update when a new transcript is added? I've got a [PoC](https://github.com/mtsugi/webahead-transcripts/tree/auto-nav) of how it could work put together.

Cheers!

[2014-05-12 16:50] jensimmons opened #16 "Which new domain name?? VOTE!"
So I have big plans for the show in 2014, which include a real website just for this show. The transcripts will move over there (which is why the current transcript site is so 1996).

But before I launch anything, I have to decide which domain name to use. So I thought I'd ask you folks what you think. @jennschlick? Mtsugi? f3k? davidpeach? maban? eliotsykes? everyone else?

Here are the two choic

[2014-05-12 16:52] #12 closed, assigned to nobody

[2014-05-12 18:56] #15 closed, assigned to nobody

[2014-05-24 13:18] pdurbin opened #21 "Episode 70: Data Visualization with Scott Murray"
I'm about 40 minutes it to this and really enjoying it:

The Web Ahead #70: Data Visualization with Scott Murray - http://5by5.tv/webahead/70

For this transcript, I wonder if we can embed some of the d3 examples.

Honestly, the main thing I wanted capture for now is the awesome #d3brokeandmadeart that @alignedleft mentioned: https://twitter.com/hashtag/d3brokeandmadeart . It would be great if @je

[2014-05-30 19:42] JasonNeel opened #23 "Episode 33"
I was going to go ahead and try my hand at Episode 33: Back to Basics with Jen Robbins, if that's cool?

[2014-06-02 16:25] #23 closed, assigned to nobody

[2014-06-12 01:08] mattsugihara opened #26 "Episode 54"
starting

[2014-06-13 14:50] JasonNeel opened #28 "Episode 53 - CSS Animations with Val Head"
Going to try and tackle this one next.

[2014-06-19 00:11] jlschlick opened #29 "Episode 66"

[2014-06-20 11:45] #29 closed, assigned to jlschlick

[2014-06-20 11:47] jlschlick opened #30 "Episode 74"

[2014-06-21 01:35] #30 closed, assigned to jlschlick

[2014-06-24 21:00] jensimmons opened #32 "69 — WCAG and Accessibility with Luke McGrath"
This would be a very good one to have a transcript for. And joe-watkins started on this by creating a blank page (Thanks Joe)...

...but I don't want to launch a blank page. I didn't realize I'd merged in a totally blank thing, so I'm going to remove it now. We can always create another new blank page later.

[2014-06-25 23:52] #32 closed, assigned to jlschlick

[2014-06-27 14:35] jlschlick opened #33 "Episode 75"

[2014-06-27 14:36] #33 closed, assigned to jlschlick

[2014-07-04 18:10] jlschlick opened #34 "Episode 76"

[2014-07-04 18:15] #34 closed, assigned to jlschlick

[2014-07-15 21:16] jensimmons opened #35 "Ep 40 — Git with John Albin Wilkins"
Gosh I'd love to have a transcript of this show.
http://5by5.tv/webahead/40

[2014-07-24 15:47] cherylcolan opened #36 "Episode 76 second look"
Was going to come transcribe this episode as a tribute to my videoblogger friends. But @jennschlick beat me to it. She mentioned a second look would be useful, and at first glance I spotted some things that could be linked, so I'll take a second pass through it while I listen.

[2014-07-24 21:40] #36 closed, assigned to nobody

[2014-07-30 17:58] jensimmons opened #39 "ep77 is done"
Hi kids.
Episode 77 is done, thanks to Derek Featherstone. I'm uploading it now.

[2014-07-30 17:59] #39 closed, assigned to nobody

[2014-08-05 02:00] #35 closed, assigned to nobody

[2014-08-05 16:42] jensimmons opened #41 "Help with the new website, Team Web Ahead!"
Hi Team Web Ahead,

I've been working on a new website for everything The Web Ahead. This will be the new home of the transcripts (once it's launched — before then, we'll keep things as they currently are). It'll also be a place to more easily find episodes on topics you care about, find info about the guests and sponsors, and eventually where listeners can leave comments, corrections and examples

[2014-08-07 15:43] #41 closed, assigned to nobody

[2014-08-07 15:44] #16 closed, assigned to nobody

[2014-08-07 15:44] #26 closed, assigned to nobody

[2014-08-19 21:13] jlschlick opened #43 "Episode 77"

[2014-08-20 00:44] #43 closed, assigned to jlschlick

[2014-08-22 08:26] jlschlick opened #44 "Episode 78: Offline with John Allsopp"

[2014-08-26 09:19] #44 closed, assigned to jlschlick

[2014-08-29 02:13] jlschlick opened #46 "Episode 79: Advanced Git with Tobias Günther"

[2014-08-29 13:35] #46 closed, assigned to jlschlick

[2014-08-30 16:05] jlschlick opened #47 "Episode 80: The Complexity and the Humanity with Trent Walton"

[2014-08-30 18:39] #47 closed, assigned to jlschlick

[2014-09-01 16:29] jensimmons opened #48 "Episode 81 (wha? but it's not out yet!)"
Episode 81 was just finished. I'd love to have it transcribed before we publish it this week.
Interested? @jennschlick ? anyone else?
It's at this super-secret link:
http://cdn.5by5.tv/audio/broadcasts/webahead/2014/webahead-081.mp3

[2014-09-01 23:54] #48 closed, assigned to jlschlick

[2014-09-09 20:29] jensimmons opened #50 "Episode 83 — ready for transcript"
Episode 83 is with Jason Santa Maria, talking about Typography on the web.

The file is at http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2014/webahead-083.mp3
and is ready to be transcribed.

This episode will be released next week.

Meanwhile, episode 82 will be recorded tomorrow, Wed Sept 10, and and released immediately.

[2014-09-11 12:55] #50 closed, assigned to jlschlick

[2014-09-14 13:45] jlschlick opened #51 "Episode 82: Payments on the Web with Manu Sporny"

[2014-09-14 19:11] #51 closed, assigned to jlschlick

[2014-09-22 23:14] jensimmons opened #52 "Episode 84"
I recorded ep84 today with Paul Boag.

The file is at http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2014/webahead-084.mp3.

I plan to publish this on Wednesday.

[2014-09-23 18:21] mtsugi opened #53 "Episode 71 - Web Design Education with Leslie Jensen-Inman"

[2014-09-24 01:39] #52 closed, assigned to jlschlick

[2014-09-29 15:53] jensimmons opened #54 "Episode 85"
Hm. Episode 85 is edited... almost uploaded? But lost someplace... I'm working on tracking it down. It's a cool one. Dan Noyes from CERN is the guest, to talk about the projects CERN's been working on this year to recreate the early web.

[2014-10-01 03:03] #54 closed, assigned to jlschlick

[2014-10-25 16:20] jlschlick opened #55 "Episode 86"

[2014-10-25 16:21] jlschlick opened #56 "Episode 87"

[2014-10-26 02:58] #55 closed, assigned to jlschlick

[2014-10-28 03:27] #56 closed, assigned to nobody

[2014-10-31 22:36] jlschlick opened #57 "Episode 88"

[2014-11-02 23:15] #57 closed, assigned to jlschlick

[2014-12-05 01:30] jlschlick opened #58 "Episode 89"

[2014-12-05 05:41] #58 closed, assigned to jlschlick

[2014-12-20 00:16] jlschlick opened #59 "Episode 90"

[2014-12-20 00:21] #59 closed, assigned to jlschlick

[2015-01-11 05:55] jennschlick opened #60 "Episode 91"

[2015-01-11 05:58] #60 closed

[2015-01-18 00:11] jennschlick opened #61 "Episode 92"

[2015-01-18 03:58] #61 closed

[2015-01-27 01:31] jennschlick opened #62 "Episode 93"

[2015-01-27 05:22] #62 closed

[2015-01-31 19:33] jennschlick opened #63 "Episode 94"

[2015-01-31 21:17] jensimmons commented on #63
OMG I love you. We need to have dinner sometime. You are in NYC, right? I'm long past due in setting something up to meet you and to thank you, Jenn.

[2015-01-31 22:10] jensimmons opened #64 "Episode 95"
Here it is. The episode to launch the new website. One the site is up, I'll be taking down the old transcript website. So no need to put anything into this github jekyll repo anymore.

I haven't published this episode yet, of course. But it is edited and waiting on the new website. http://dev.thewebahead.net/95. I'll hold the launch of the new site until the transcript is done.

And in the future,

[2015-01-31 22:23] JasonNeel commented on #64
Congrats, Jen!

[2015-01-31 22:57] jensimmons commented on #64
Thanks Jason! And thanks for your help. And to everyone who's helped out.

[2015-02-01 00:29] jennschlick commented on #64
On it after #94, which is almost done.

[2015-02-01 22:04] jennschlick opened #65 "Episode 41"

[2015-02-01 22:21] #65 closed

[2015-02-01 22:24] jennschlick commented on #64
FYI The compliance check module in Drupal freaks out when the title attribute starts with the letter a + space. EG: `title="A List Apart"` doesn't pass but `title="AListApart"` does.

[2015-02-01 22:27] jennschlick commented on #63
I am, Upper West Side. We totally do! That would be so much fun. Email or DM me and we'll set something up.

[2015-02-01 22:27] #63 closed

[2015-02-02 23:47] jensimmons commented on #64
Yay transcript!! :smile:

Boo Drupal module freakout. Weird. I've not run into this — the compliance check module. The title attribute should have spaces in it, yes? That's my first thought off the top of my head (without googling). The title should be readable as a tooltip and by screenreaders (if needed). Hm...

Do you think this is something to ignore? Or to do something about?

[2015-02-03 00:35] jennschlick commented on #64
Yeah, the title attribute should have spaces.

It's only worth noting for you, as you're working in Drupal. If you get an error from this module when saving a node and, like me, spend the next 30 minutes trying to figure out why, see if one of your title attributes starts with the letter a + space. EG: `A website about bananas`

[2015-02-03 00:39] jensimmons commented on #64
Oh, only if the title starts with an 'A' *and* has spaces. Ah, Drupal..... yeah, I'm not even sure why that module is installed. I think I added it in a an SEO tool frenzy the other day. I should remove it...

[2015-02-03 00:39] #64 closed

[2015-02-13 22:07] jennschlick opened #66 "Permissions"
@jensimmons! Can I get user permissions to edit pages?

![all_recent_content___the_web_ahead](https://cloud.githubusercontent.com/assets/463149/6196067/aa63d53a-b3a2-11e4-86cb-0759a6c93359.png)

[2015-02-14 03:46] jensimmons commented on #66
Should be good to go now. 

—
Sent from Mailbox

On Fri, Feb 13, 2015 at 5:07 PM, Jenn Schlick <notifications@github.com>
wrote:

[2015-02-14 19:17] jennschlick commented on #66
Works, thanks!

[2015-02-14 19:17] #66 closed

[2015-02-16 20:44] jensimmons opened #67 "Episode 96: Reinventing the Web in Virtual Reality"
Hiya!

Episode 96 was just edited. It's at http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-096.mp3

I would like to publish this on Wednesday this week, Feb 18.

Thanks!

/cc @jennschlick

[2015-02-16 22:03] jensimmons opened #68 "Transcript directions"
@jennschlick and I have been writing up directions on how to help with transcripts. It'd be great if you could check it out and see if these make sense to you.

http://thewebahead.net/help/transcripts

Any changes, additions, places that need more info?

[2015-02-16 22:40] jensimmons commented on #53
This is done!

[2015-02-16 22:40] #53 closed

[2015-02-16 22:40] jensimmons commented on #7
Any update, @davidpeach? Or anyone else interested? I'd love to see the transcript land here: http://thewebahead.net/21

[2015-02-16 22:41] jensimmons commented on #8
I'd still love to see a transcript here: http://thewebahead.net/34 Interested @mf3k? Or anyone else?

[2015-02-16 22:43] jensimmons commented on #13
Just wanted to note that this is still almost done, but not quite: http://thewebahead.net/13

Transcript stops at 00:57:39 for a show that's 1:23:28.

[2015-02-16 22:46] #21 closed

[2015-02-16 22:46] jensimmons commented on #28
This is done. :)

[2015-02-16 22:46] #28 closed

[2015-02-16 23:09] JasonNeel commented on #28
Woot! Sorry, forgot about this.

[2015-02-16 23:24] davidpeach commented on #7
Apologies I haven't had the time in recent months. I am on it though and
will get it over A.S.A.P.

cheers,
Dave.

[2015-02-17 10:25] eliotsykes commented on #13
I'm so sorry about this! Thanks for the nudge @jensimmons. I was listening to the show this week and got an awful pang of guilt about not finishing the transcript, this has been on my todo list for a long time and I just need to put aside the time. The new site is fantastic. I'll get this finished.

[2015-02-17 20:02] eliotsykes commented on #13
Up to 1:04:14, 0:17:41 to go!

[2015-02-17 20:05] eliotsykes commented on #13
Temporary home for transcript https://github.com/eliotsykes/webahead-transcripts/blob/master/episode-13.html

[2015-02-17 20:11] ksenzee opened #69 "Episode 1"
Hi! I'm peeking in from the Drupal world, which is where I know Jen from. I've been out of front-end development for a long time, and I now find myself in more of a full-stack position, where it would be useful if I had stayed up to date. So I thought I'd listen to the series from the beginning, as a way of catching up with developments in the field. And then I saw help was needed transcribing, an

[2015-02-17 20:27] jensimmons commented on #13
Yay! I just approved your Drupal account Eliot. Let me know if you have any troubles getting in. Someone else was finding a potential bug in the password reset system... so tell me if you need help.

[2015-02-17 20:28] jensimmons commented on #69
:smile:

[2015-02-17 20:29] jensimmons commented on #68
Katherine just pointed out to me that I'd reversed dd and dt in The Canonical Directions. Whooops! It's fixed now. So use the most recent version of http://thewebahead.net/help/transcripts

[2015-02-17 20:30] jensimmons commented on #7
Cool. Thanks. There's info and tips on how to transcribe more easily at http://thewebahead.net/help/transcripts

[2015-02-17 20:31] jensimmons commented on #67
Done.

[2015-02-17 20:31] #67 closed

[2015-02-18 11:47] mf3k commented on #8
sorry, things derailed a _little_ on my end, but I got this. I'll make the pull request at the end of the week and start on the next **the web behind episodes** next week. again, sorry.

[2015-02-18 16:00] jensimmons commented on #8
Excellent! And no need for being sorry. It's exciting to get momentum now. There's info on how to do transcripts at: http://thewebahead.net/help/transcripts

[2015-02-18 17:18] jensimmons commented on #68
For anyone transcribing an episode that hasn't come out yet (hi @jennschlick ) you should be able to access the unpublished show and find all the show note links that have been gathered. Yes? Do you have permission to look at new unpublished episodes?

Let's add a note about this to the Help with Transcripts page.

[2015-02-18 18:21] eliotsykes commented on #13
Thanks Jen, got the email (an automated one from the CMS went to spam in case that's of use). I've not tried signing in yet, I will do in the next few days.

Episode 13 transcript up to 1:06:58, 15:02 to go

[2015-02-19 20:22] eliotsykes commented on #13
Up to 1:11:24. The free "Transcriptions" Mac app is making this a little more productive https://itunes.apple.com/gb/app/transcriptions/id911974149?mt=12

[2015-02-20 16:12] jensimmons commented on #13
Thanks for the tip, Eliot. I just added Transcriptions app to the list at http://thewebahead.net/help/transcripts

[2015-02-21 14:32] eliotsykes commented on #13
Up to 1:15:45

[2015-02-21 16:28] pdurbin commented on #21
This issue was closed but episode 70 still appears under http://thewebahead.net/transcripts/needed

[2015-02-22 19:23] eliotsykes commented on #13
Up to 1:20:57

[2015-02-23 19:28] eliotsykes commented on #13
Woo! [Finished transcription](https://github.com/eliotsykes/webahead-transcripts/blob/master/episode-13.html). I'll have some time to put it in the CMS tomorrow! :+1:

[2015-02-23 19:39] ksenzee commented on #69
Transcript created on the site.

[2015-02-23 19:39] #69 closed, assigned to nobody

[2015-02-23 20:12] jensimmons commented on #13
Yay!

[2015-02-23 20:52] jensimmons commented on #69
Published! http://thewebahead.net/1

Thanks so much. This is terrific. :)

[2015-02-23 23:35] mf3k commented on #8
Jen, i created an account at the web ahead website, but still need for you to approve the account so i can post this transcript. or do you want to handle this differently?

[2015-02-24 00:52] jensimmons commented on #13
I just noticed your account didn't have the privileges to be able to add the transcript. I just fixed that — so you are all set.

[2015-02-24 00:53] jensimmons commented on #8
I just approved your account and made you a transcript contributor. You should be all set. Let me know if you have any questions.

[2015-02-24 00:55] jensimmons commented on #21
Yes, we do still need a transcript for episode 70. I closed this to organize things more clearly.

[2015-02-24 09:54] eliotsykes commented on #13
Thanks @jensimmons! It's updated with the full transcript, asides, and potential quotes http://thewebahead.net/13

[2015-02-24 19:45] jensimmons commented on #13
Excellent! Thanks Eliot. I just posted a quote to the episode page. It's great to know this episode is complete.

[2015-02-24 19:45] #13 closed

[2015-02-24 22:30] mf3k commented on #8
everything is loaded up and ready to be published. hope it's ok.

[2015-02-24 22:49] jensimmons commented on #8
I just added `<abbr></abbr>` to the allowed HTML in the system. Great call.

[2015-02-24 23:49] jensimmons commented on #8
I just published this transcript! Thanks so much! http://thewebahead.net/34

[2015-02-24 23:49] #8 closed

[2015-02-25 18:02] ksenzee opened #70 "Episode 2: Responsive Web with Ethan Marcotte (still needs transcript)"
Now that I know all about HTML5, I'm moving on to reponsive! ;)

[2015-02-25 21:19] mf3k opened #71 "Episode 35: The Web Behind with John Allsopp (still needs transcript)"
i'll start to work on this transcription if it's ok.

[2015-02-25 21:37] jensimmons commented on #71
Excellent! Thanks.

[2015-02-26 00:20] jensimmons opened #72 "Episode 97"
Episode 97 is being edited now. Bit late this one — it's the one to be published this week. I'll ping as soon as it's uploaded.

[2015-02-26 03:03] jensimmons commented on #72
Alrighty. The next episode of The Web Ahead is at http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-097.mp3

/cc @jennschlick

[2015-02-26 12:36] jlschlick commented on #72
Will do this today. Thanks Jen!

[2015-02-26 15:08] marisaeikenberry opened #73 "Episode 4: Fair Use & Copyright with Pat Aufderheide (still needs a transcript)"
About to start work on Episode 4.

[2015-02-26 20:52] #72 closed, assigned to jlschlick

[2015-02-26 21:44] jensimmons commented on #72
Excellent! Thanks. Sorry to leave so little time for this. I just sent ep98 to be edited, so we'll have plenty of time for that one.

[2015-03-01 16:19] jensimmons opened #74 "Episode 98"
Episode 98 is edited and uploaded to the system:
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-098.mp3

// @jennschlick

[2015-03-01 16:20] jensimmons commented on #73
Excellent! Thanks.

[2015-03-01 17:05] jlschlick commented on #74
Thanks Jen!

[2015-03-01 23:14] #74 closed, assigned to jlschlick

[2015-03-05 22:59] jensimmons opened #75 "ep99 - Responsive Images!"
Hiya.
Episode 99 has been edited. It's at
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-099.mp3

It's all about how-to do responsive images.

/cc @jennschlick

[2015-03-05 23:03] jensimmons commented on #75
By the way, I've been removing many of the timestamps from transcripts. Not most — but in the places where the dialog is super short and back-and-forth. You can look at ep 98 to see what I mean.
http://thewebahead.net/98

Usually this is right at the beginning of the show, and again at the end. I think this makes the transcript more readable — to not have a timestamp on every line when the lines a

[2015-03-05 23:07] jensimmons opened #76 "TIMESTAMPS!!"
We've started adding timestamps to transcripts, to facilitate doing this:
https://github.com/jensimmons/thewebahead/issues/41

So everyone doing a transcript, lets start figuring out how to do timestamps. @jennschlick has been leading the way, so maybe she can explain. The software she's using makes it much easier.
http://thewebahead.net/help/transcripts
https://transcribe.wreally.com/

/cc: @elio

[2015-03-05 23:27] jlschlick commented on #75
Good point. Easy to leave out timestamps on short bursts of dialogue. It just means while transcribing I'll have to think a bit more, instead of being all robotic and hitting the shortcut (F6) every time someone speaks. So, yes, doable.

[2015-03-07 17:59] #75 closed, assigned to jlschlick

[2015-03-07 19:00] jensimmons commented on #75
Yay! I just finished the epic show notes for this one. A katrillion links! I'm glad to now have the transcript. :)

[2015-03-07 19:07] jlschlick commented on #75
Seriously epic! Added additional links in the transcript, like Twitter/Wikipedia links for people, [an explanation of the lookahead pre-parser](http://andydavies.me/blog/2013/10/22/how-the-browser-pre-loader-makes-pages-load-faster/), and [Sara Soueidan's article](http://sarasoueidan.com/blog/svg-picture/). Also found the [flowchart](http://lists.w3.org/Archives/Public/public-respimg/2015Jan/0003.

[2015-03-07 19:16] jensimmons commented on #75
Excellent! Yes, I've started reading the transcript to find all the links you've added, and add them to the show note list you. You get some good ones.

[2015-03-08 01:01] jensimmons commented on #75
I was just listening to some of the show while reading the transcript (around min16). I'm really happy with how much you are cleaning up the mistakes in speech. It's really good. I hadn't realized you were leaving out so many stumbles and circular half-thoughts... but I'm really pleased. :+1:

[2015-03-08 03:14] huijing opened #77 "Episode 63: The Latest in CSS with Chris Coyier (started, but mostly still needs to be done)"
Going to start transcribing episode 63.

[2015-03-08 14:13] jlschlick commented on #75
Hey, thanks! Have been editing more heavily lately... trying to find a middle ground between readability and accuracy. I still totally fear a guest reading it and saying, "I didn't say that!"

[2015-03-08 22:28] jensimmons opened #78 "Episode ONE HUNDRED"
Ep100 is edited and ready to be transcribed. (I'm traveling, so I stacked a few in a row).
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-100.mp3

[2015-03-08 23:01] JasonNeel opened #79 "Episode 47"
Been out of the game for awhile. Figured I’d jump back in with this one, since I already did the other Jen Robbins episode.

[2015-03-09 02:46] jlschlick commented on #68
@jensimmons Yes, I can see unpublished shows. Added a note to #6 under Post the Transcript: http://thewebahead.net/help/transcripts

[2015-03-09 03:45] jensimmons commented on #78
cc @jennschlick
Jenn, do you see these notices without the cc?

[2015-03-09 03:45] jensimmons commented on #79
\o/

[2015-03-09 13:29] jlschlick commented on #78
@jensimmons Yup. I get notifications for all conversations, I think because I'm watching the repo.

[2015-03-09 14:51] jensimmons commented on #78
Coll, then I'll stop cc'ing you when posting a new episode. I feel like I'm "ordering" you to GET GOING! And that not my intention. ;)

[2015-03-11 14:28] jlschlick commented on #78
Haha, no worries, it doesn't come off that way.

Transcript is done.

[2015-03-11 14:28] #78 closed, assigned to jlschlick

[2015-03-20 00:51] mattsugihara opened #80 "Episode 48"

[2015-03-22 17:24] JasonNeel commented on #79
I don't think I have the ability to assign this issue to you Jen, like the transcription instructions say. Either that, or I'm just not seeing it on my end. (Ugh, I need to get better at Github.)

But I just entered all of the info I have for this episode into the Drupal backend for you to review.

[2015-03-24 00:57] jensimmons commented on #79
Ah, right. I should change the directions. I think only people who have full privileges to commit to this repo have the ability to assign issues (which I haven't bothered to mess with — not quite seeing the benefits. Maybe I should look at that...)

Ok. Cool! Thanks.

[2015-03-25 23:15] cherylcolan opened #81 "Episode 52: eBooks with NellieMcKesson (second half, still to come)"
Hi there!
I'm working on an e-book so it's the perfect time to transcribe Episode 52. Working my way through the instructions for contributing now that thewebahead.net site has gone live.

[2015-03-26 00:11] cherylcolan commented on #68
Perhaps a warning not to use Transcribe (transcribe.wreally.com) "HTML source" button when coding the definition list. All my definition list elements were stripped out when I clicked out of HTML source mode. Only paragraph elements were retained. Gotta start again. Back to Coda!

[2015-03-26 17:41] jensimmons opened #82 "Episode 101 - Structuring Content with Eileen Webb"
Episode 101 is edited, waiting for transcript.

http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-101.mp3

/cc @jennschlick

[2015-03-26 18:05] jensimmons commented on #81
Yay!
I just upgraded your http://thewebahead.net user account to have transcript privileges.

This will be a great transcript to have. I reference this show a lot / this tech isn't well talked about. Nellie is AWESOME. World's expert. And this stuff isn't well documented. So thanks!

[2015-03-26 18:09] jensimmons commented on #68
Oh no! That stinks. So sorry... ;(

I just added a note to the transcript directions.

[2015-03-27 00:52] cherylcolan commented on #81
No problem, I'm excited to learn and contribute :)

[2015-03-27 03:23] jensimmons opened #83 "Episode 102 - Understanding Apple Watch with Josh Clark"
Ta da.
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-102.mp3

Yes, that's two episodes edited today.
101 was recorded yesterday, and will be published next week.
102 was recorded today. It'll be published the week of April 6th (week after next).

[2015-03-27 17:52] #82 closed, assigned to jlschlick

[2015-03-27 17:53] jlschlick commented on #83
Just finished 101. Doing this next!

[2015-03-27 18:33] jensimmons commented on #83
:D

[2015-03-29 14:34] #83 closed, assigned to jlschlick

[2015-03-29 14:36] jlschlick commented on #83
Done.

[2015-03-29 17:08] jensimmons commented on #83
You are awesome. 

—
Sent from Mailbox

On Sun, Mar 29, 2015 at 9:36 AM, Jenn Schlick notifications@github.com
wrote:

[2015-04-25 01:15] cherylcolan commented on #81
So, just letting you know, I've had a few obstacles crop up. Just after I got going, my laptop died and I had a few data recovery issues to deal with. Once I got that back up and running, our CEO cut  time-to-release in half on a new product my team is working on, so I've been a little buried in a crazy work schedule. I still have every intention of transcribing this episode, but it will be around

[2015-04-27 15:15] jensimmons commented on #81
Oh no, I'm sorry your laptop died! It's always hard to switch computers. To have to do so unexpectedly, and loose data along the way — AAAGGHHHH!!! I hope you were able to work it all out.

I totally understand about life and work and not having time. I appreciate any time you do have, so don't worry. Don't feel bad! Helping at all is awesome. Thanks!

[2015-05-22 17:59] agarrharr commented on #76
It looks like you have timestamps about every 10 minutes?

[2015-05-23 18:26] jensimmons commented on #76
Uh, perhaps we have lately. I think we need them more often than this. I'm hoping for a new timestamp any time a new question is asked / new "beat" happens.

[2015-06-10 05:34] #80 closed, assigned to nobody

[2015-06-10 05:48] mattsugihara opened #84 "ep44"

[2015-06-15 18:10] jensimmons commented on #80
Thanks Matt! Published: http://www.thewebahead.net/48

[2015-06-15 18:34] jensimmons commented on #77
I just published what's been done so far.

[2015-06-16 01:38] huijing commented on #77
Sorry this is taking so long.

[2015-06-16 22:48] jensimmons commented on #77
Oh, don't feel bad! It's understandable. I just wanted to publish what we have so far, since even half-a-transcript can be helpful. And let everyone know that if anyone else wants to help, they could pick up where you left off... they should just coordinate in this issue, so we don't accidentally have two people doing the same work.

Thanks for everything you've done so far!

[2015-06-24 22:19] jensimmons opened #85 "episode 103"
It's ready. Needs transcript.

[2015-06-24 22:20] jensimmons commented on #85
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-103.mp3

[2015-06-25 01:19] mattsugihara commented on #85
Yay! I just finished ep 44 (will upload as soon as I get back on wifi) and can probably get this out by mid next week, if that's soon enough?

[2015-06-25 07:55] mattsugihara commented on #84
Uploaded

[2015-06-25 07:55] #84 closed, assigned to nobody

[2015-06-29 07:03] mattsugihara commented on #85
uploaded

[2015-07-15 20:40] jensimmons commented on #85
:D Published

[2015-07-15 20:40] #85 closed, assigned to nobody

[2015-07-27 17:59] mattsugihara opened #86 "ep 43"

[2015-08-01 14:01] jlschlick opened #87 "Episode 3"

[2015-08-01 17:18] #87 closed, assigned to nobody

[2015-08-02 15:25] cherylcolan commented on #76
So I'm not quickly seeing specifics on how to add them. I looked at Jenn's CodePen example http://codepen.io/jennschlick/pen/yyvdgL - I'm assuming The Web Ahead site takes care of the Javascript, and that all we need to do as transcriber is insert the timestamp where appropriate (eg <code>&lt;a href="#t=20:00"&gt;20:00&lt;/a&gt;</code>)?

[2015-08-02 15:54] jlschlick commented on #76
Hey @cherylcolan! To my knowledge, the jump-to-timestamp JS isn't on the site yet.

I'm adding timestamps to transcripts in `<time>` tags. When/if the JS is added, it would probably be a matter of going back through transcripts to link up the timestamps like you said (eg `<a href="#t=20:00">20:00</a>`).

[2015-08-02 15:57] cherylcolan commented on #76
Thanks for the rapid response, @jennschlick ! I'll go with <code>&lt;time&gt;</code> tags, then.

[2015-08-02 16:15] cherylcolan commented on #76
Although I read <code>&lt;time&gt;</code> isn't really appropriate when not referencing a specific time of day and where the date can't also be calculated. It's intended for displaying a date and/or time in the Gregorian calendar.

I noticed TED Talks used the <code>&lt;data&gt;</code> tag for the timestamps in their interactive transcripts.

Either way, we'll be changing everything again if the t

[2015-08-02 16:30] jlschlick commented on #76
Good point... the whole approach will need to change at some point. So cool about the transcript element! I didn't know about that. Found a bit more about it here if anyone's curious: http://www.w3.org/html/wg/wiki/ISSUE-194/TranscriptElement

[2015-08-02 16:35] cherylcolan commented on #76
LOL! Thanks for fixing my wrongly-pasted link @jennschlick - I pasted one for the transcript I'm currently working on instead of the correct one which you found and added.

[2015-08-02 16:41] joe-watkins commented on #76
Hi :) The `<time>` tag isn't really needed here since you are not pegging a certain time of a particular day really. I would suggest adding some visually hidden text of some sort to the link itself to bring context for assistive technology users.

For example: http://codepen.io/joe-watkins/pen/yNGvye

Here is an example of a screen reader landing on that link: http://www.screencast.com/t/pRhUOr2r

[2015-08-02 16:50] cherylcolan commented on #76
Thank you @joe-watkins. We aren't tagging a certain time of day, but we DO need a way to display the approximate time stamp of the audio file that corresponds to the transcript dialogue.

My own goal in asking was to figure out how to represent the time stamp for the transcript I'm working on right now. I won't have access to modify the site javascript or anything like that.

So I'm still going to

[2015-08-02 16:53] jlschlick commented on #76
@cherylcolan Haha! And I thought I was missing something obvious in the link you posted. Phew.

@joe-watkins Thanks for the example! I like the hidden text technique. I think it's something to consider when this whole thing is revisited.

[2015-08-05 00:33] jensimmons commented on #81
I just edited and published the transcript for ep 52: http://www.thewebahead.net/52

It looks like it's about half finished — stopping at around 45 mins of a 90 minute episode. Is that right?

I'm glad to get to publish the first half, so thank you!

[2015-08-05 00:35] jensimmons commented on #86
:)

[2015-08-05 00:36] jensimmons commented on #76
Hmmmmmmmmmmmmm.

[2015-08-05 02:06] cherylcolan commented on #81
That's about right. I put the time stamp of where I stopped in the revision notes in Drupal. I'll finish this week or this weekend. :)

[2015-08-05 16:41] jensimmons commented on #76
I just spent about 30 mins looking for The Definitive Best Way to markup a transcript. Yep, nope. There doesn't seem to be one.

As I'm sure you know, The Web Ahead currently uses:
`<article>`
`<dl>`
`<dt>name</dt> <dd><time>[XX:YY]</time>Thing said.</dd>`
`</dl>`
`</article>`

I haven't seen anyone else use `<article>` to wrap the whole transcript — but I think it's correct to use article. It _is

[2015-08-05 17:02] joe-watkins commented on #76
Ha! I love it @jensimmons

Another thing we could entertain is adding `aria-controls` to the `<a>`. It refers to the audio player that it would control.

**Basic:**
`<a href="#t=20:00" aria-controlls="mep_0"><time>20:00</time></a>`

**Enhanced:**

[code]

[2015-08-05 18:10] jensimmons commented on #76
I like that.

In fact — there's a perfect example for a custom web component. Invent our own element, that unpacks into the enhanced version. Make the robots do the work. Well, in 2018 or whenever Web Components land. Meanwhile....

[2015-08-06 04:08] jensimmons opened #88 "gosh I would really love for someone to do 49"
Gosh, I would really love for someone to do 49: CSS Layouts with Rachel Andrews, http://thewebahead.net/49

Anyone?

[2015-08-06 04:14] mattsugihara commented on #88
I'm cleaning up and submitting ep 43 tonight.

I can start it tomorrow morning.

[2015-08-06 06:01] mattsugihara opened #89 "ep 49"

[2015-08-06 06:07] mattsugihara commented on #86
uploaded. I just realized I've totally been misformatting the timestamps. I'll go back and add the timestamps in properly for past episodes, but is there anything else I'm messing up that you've had to go back in and fix?

[2015-08-06 17:49] jensimmons opened #90 "episode 104"
What? A new episode? YES! The next episode of The Web Ahead is recording tomorrow, Friday Aug 7, at 10am eastern. We can hopefully get the show edited the same day, and be ready to get the transcript done. I'd love to publish the show early next week — Monday maybe? Or Tuesday... or Wed... or at least sometime next week. (And not the week after!)

@jennschlick ready?

[2015-08-06 23:20] jensimmons commented on #86
Published!
http://thewebahead.net/43

I redid your timecode stamps with a kind of hybrid code. Leaving the `<a>`, but replacing the `<p>` with `<time>`. At least for now, until we figure out what we want them to be.

THANKS!!!!!!

[2015-08-06 23:20] #86 closed, assigned to nobody

[2015-08-06 23:28] jensimmons commented on #88
:)

[2015-08-06 23:29] #88 closed, assigned to nobody

[2015-08-06 23:31] jensimmons opened #91 "episode 105"
Episode 105 will be recorded on Monday August 10, around 6pm eastern. I'm going to try and upload it to the editor that night, but I'll be on hotel wifi in D.C.... so.... we'll see. Worst case, I get it to the editor on Wednesday night. I'd like to get the transcript for 105 done that week, and publish it the week after (the week of Aug 17.)

Check out the topic: http://thewebahead.net/upcoming/pr

[2015-08-06 23:32] jensimmons commented on #90
Oh, here's the topic! http://thewebahead.net/upcoming/the-everyday-developer

I'd love to have any of you post questions / comments for the show a head of time.

[2015-08-07 17:14] jensimmons commented on #90
Hey — in the past, we've always done the transcripts from the edited shows... but you could grab the raw recording and listen to that. It's at: https://www.dropbox.com/sh/147djvh1i586r39/AACe10lwr7SYvMfNBxyX51R8a?dl=0

Now, it's very likely that the sounds levels are different — that I'm super quiet while the guest is much louder. That's one of the things the sound mixer fixes. So feel free to not

[2015-08-07 18:00] jensimmons commented on #90
Ah, 104 is edited and uploaded!

It's at http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-104.mp3

[2015-08-08 19:10] jensimmons commented on #90
Who wants to transcribe this episode?

[2015-08-08 19:14] jlschlick commented on #90
I can do this one. I'll post it by tomorrow night.

[2015-08-09 15:12] jlschlick commented on #90
Posted! Last week was hectic — I didn't see this thread until yesterday. I definitely would have posted questions. I posted a comment on the show page though.

 Great topic and episode, @jensimmons! Are you thinking about a Q&A for future shows?

[2015-08-09 15:15] #90 closed, assigned to jlschlick

[2015-08-09 15:35] jensimmons commented on #90
Yay! Thanks!

I don't know that a 100% Q&A show would be interesting... but definitely willing to consider it.

[2015-08-13 22:51] jensimmons commented on #90
Published! http://thewebahead.net/104

[2015-08-14 22:48] jensimmons commented on #91
Hiya! Ep105 will be edited Monday.

[2015-08-14 23:14] jlschlick commented on #91
@jensimmons Thanks! I'm traveling Monday and Tuesday... if no one else gets to it, I should be able to do this by Thursday.

[2015-08-15 19:23] jensimmons commented on #91
Cool thanks! I'm going to be traveling, with no computer (wha?!) from Sunday to Friday. So either I'll publish this next Saturday, or hold it for the following week. I wasn't sure if I was going to get to go on a vacation, but turns out! \o/

[2015-08-15 19:56] jlschlick commented on #91
High five vacation! Enjoy!

[2015-08-18 04:02] mattsugihara opened #92 "ep 35"

[2015-08-18 04:04] mattsugihara commented on #92
woops, didn't see that @mf3k is already on it

[2015-08-18 04:06] #92 closed, assigned to nobody

[2015-08-18 04:06] mattsugihara commented on #89
uploaded.

[2015-08-18 04:06] #89 closed, assigned to nobody

[2015-08-18 04:10] mattsugihara opened #93 "ep 37"

[2015-08-18 22:29] jensimmons commented on #91
Ah, finally episode 105 has been uploaded! Sorry about the delay. It's at the same URL as always — only with 105 in the middle.

I'm on my phone only, so I can't easily cut and paste. You know the URL?

[2015-08-19 01:09] jlschlick commented on #91
Got it!

[2015-08-21 11:51] jlschlick commented on #91
Done. @jensimmons There doesn't appear to be an episode page yet. I saved this in Drupal without the episode selected.

[2015-08-21 11:51] #91 closed, assigned to jlschlick

[2015-08-28 15:48] jensimmons opened #94 "episode 106"
Episode 106 is on it's way to be edited. Should be done soon.

[2015-08-28 21:54] jensimmons commented on #94
It's done and uploaded. Go for it!

[2015-08-28 22:52] jlschlick commented on #94
I looked here, no dice: http://cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-106.mp3. Do you know where it is?

[2015-08-29 22:01] jensimmons commented on #94
Hm, I don't know. Pinging the folks at 5by5 to find out.

Jen Simmons
designer, consultant and speaker
host of The Web Ahead
http://thewebahead.net
twitter: jensimmons http://twitter.com/jensimmons

On Fri, Aug 28, 2015 at 6:52 PM, Jenn Schlick notifications@github.com
wrote:

[2015-08-30 22:28] jensimmons commented on #94
Shit. The file for 105 was overwritten by 106. Do you have a copy of the edited 105? Now we need it. 

—
Jen Simmonshttp://thewebahead.net

twitter: @jensimmons

On Sat, Aug 29, 2015 at 5:00 PM, Jen Simmons jen@jensimmons.com wrote:

[2015-08-30 22:31] jlschlick commented on #94
I don't. :(

[2015-08-31 00:07] jensimmons commented on #94
Ok. That's ok. Everything is fixed now. And 106 is posted, ready for a transcript. 

—
Jen Simmonshttp://thewebahead.net

twitter: @jensimmons

On Sun, Aug 30, 2015 at 5:31 PM, Jenn Schlick notifications@github.com
wrote:

[2015-08-31 00:27] jlschlick commented on #94
Cool, I got it. I'm traveling until Wednesday. I can aim to have it by Thursday AM.

[2015-08-31 01:40] jensimmons commented on #94
Fabulous. I'm traveling too, and episode 105 (the real one) will get
published Monday — so 106 will go out next week.

:)

Jen Simmons
designer, consultant and speaker
host of The Web Ahead
http://thewebahead.net
twitter: jensimmons http://twitter.com/jensimmons

On Sun, Aug 30, 2015 at 8:27 PM, Jenn Schlick notifications@github.com
wrote:

[2015-09-04 03:06] #94 closed, assigned to jlschlick

[2015-09-10 05:22] mattsugihara commented on #93
uploaded

[2015-09-10 05:22] #93 closed, assigned to nobody

[2015-09-10 05:45] mattsugihara opened #95 "ep 105 in this episode overflow"
It looks like extra teaser content for episode 105 is overlapping with episode 104.
<img width="711" alt="screen shot 2015-09-09 at 10 42 43 pm" src="https://cloud.githubusercontent.com/assets/166028/9780986/1fbe4d5c-5744-11e5-80a6-08afb698d922.png">

[2015-09-15 19:47] jensimmons commented on #95
Ah, there were too many `<ul>`s wrapping the list. It should be fixed now.

Let me know if you still see a problem.

Thanks!

[2015-09-15 19:47] #95 closed, assigned to nobody

[2015-10-14 23:11] jensimmons opened #96 "Episode 107"
Phew! I finally finished ep107.

It's in the system. Audio here: http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-107.mp3

I'd love to publish this tomorrow. Crazy, I know.

[2015-10-17 15:24] jlschlick commented on #96
Just saw this, Jen. I can have this done today!

[2015-10-17 19:49] jlschlick commented on #96
Posted.

[2015-10-17 19:49] #96 closed, assigned to jlschlick

[2015-10-17 21:04] jensimmons commented on #96
YAY!!!!!

I'm publishing this today!
:)

Jen Simmons
Mozilla Technical Evangelist
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons http://twitter.com/jensimmons

On Sat, Oct 17, 2015 at 3:49 PM, Jenn Schlick notifications@github.com
wrote:

[2015-10-27 17:21] jensimmons opened #97 "Episode 108"
It's ready to be transcribed!

Oh, and I'm going to publish it right now, because we need to get it out asap since one of the sponsors is a conferences that's next week.

[2015-10-27 17:47] jensimmons commented on #97
Pinging @jennschlick (Does doing so send you a notice earlier? Do we need  a better bat signal?)

[2015-10-27 19:22] jlschlick commented on #97
@jensimmons I get a notification when a new issue is posted, even without an @ mention!

I can start on this tomorrow (Wednesday) night.

[2015-10-29 04:08] jlschlick commented on #97
Posted!

[2015-10-29 04:08] #97 closed, assigned to nobody

[2015-10-29 05:32] jensimmons commented on #97
Published! I was just trying to proofread it, but my eyes are so tired / I
am so tired I can't keep my eyes open. I'll proof tomorrow. And right the
ToC & pull-quote. But meanwhile, the transcript is up.

THANKS!!!!!!!!

Jen Simmons
Designer & Developer Advocate at Mozilla
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons http://twitter.c

[2015-11-01 04:59] jensimmons opened #98 "episode 109"
109 has been edited and is ready for a transcript.

Let me know if it seems weird / if it's pieced together weird.

It was recorded in pieces....

[2015-11-02 01:10] jlschlick commented on #98
Posted! I only noticed the pieces in two or three places and it didn't seem weird.

[2015-11-02 01:10] #98 closed, assigned to jlschlick

[2015-11-02 06:36] jensimmons commented on #98
Thanks!

Jen Simmons
Designer & Developer Advocate at Mozilla
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons http://twitter.com/jensimmons

On Sun, Nov 1, 2015 at 5:10 PM, Jenn Schlick notifications@github.com
wrote:

[2015-11-04 22:25] jensimmons opened #99 "Episode 110"
Episode 110 is edited, and sitting in the usual place.

:)

[2015-11-07 19:57] #99 closed, assigned to jlschlick

[2015-11-12 16:44] hdoggett opened #100 "Episode 70: Data Visualization with Scott Murray"
Hello everyone!

My name is Holly, and I'm going to start transcribing Episode 70: Data Visualization with Scott Murray.

Thanks for the opportunity!

[2015-11-12 16:55] jensimmons commented on #100
Welcome Holly. And thanks!!!

Do ask any questions that you have. Everyone is super friendly and willing to help.

[2015-11-16 21:51] hdoggett commented on #100
Hi everyone. I have completed the transcript. Please let me know if you should need any edits or have any questions.

[2015-12-01 22:19] jensimmons opened #101 "Episode 111"
Hello there.

Episode 111 is ready for a transcript.
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-111.mp3

Let me know if it sounds weird in any place. We had to piece together the audio to get around a bunch of Skype issues. At times, Karen and I couldn't hear anything the other person was saying, but we just pretended we could. LOL.

[2015-12-02 03:02] jensimmons commented on #100
Thank you Holly!!! This is published now. http://thewebahead.net/70. Fabulous!

[2015-12-02 18:32] hdoggett commented on #100
Thanks, Jen!

I see some errors I made. Should I put them on GitHub or enter edit
requests into Drupal?

Also, my Transcript free trial ran out. Would I be able to get a license to
finish up the McGrane transcript?

On Tue, Dec 1, 2015 at 10:02 PM, Jen Simmons notifications@github.com
wrote:

[2015-12-02 19:31] jensimmons commented on #100
You should be able to make the edits directly in Drupal. Edit the transcript and hit save. The changes will be live. Yes? 

I will buy you a license as soon as I get home. 

—
Jen Simmonshttp://thewebahead.net

twitter: @jensimmons

On Wed, Dec 2, 2015 at 1:32 PM, Holly Doggett notifications@github.com
wrote:

[2015-12-03 21:35] hdoggett commented on #100
Yes, duh. It worked! Thanks, Jen.

On Wed, Dec 2, 2015 at 2:31 PM, Jen Simmons notifications@github.com
wrote:

[2015-12-03 21:45] hdoggett commented on #101
I can take this one!

[2015-12-06 20:29] jensimmons commented on #101
Hey Holly. What's up with this? The episode is waiting to be published, waiting for a transcript.

[2015-12-06 20:32] jensimmons commented on #100
Holly — you need a Transcribe license. It looks like the better way to do it is for you to pay the $20 for the 1 year, and I'll reimburse you. I can paypal you $20+a bit extra to cover the fee. What's your paypal email? Or if you don't have paypal what is another way I can send you money?

[2015-12-07 03:01] jensimmons commented on #101
Holly, can you post whatever you have so far, so I know where we are at? I'd like to publish this episode on Tuesday, Dec 8.

[2015-12-07 15:24] hdoggett commented on #101
Hi Jen, I'm halfway done, but it's super rough. You wouldn't want to post it. I didn't know  you had a deadline. I can work on it today, and hope to finish the second half. I should be able to finish it up completely tomorrow permitting my paying-job workload is light.
FYI - I didn't see your license to transcribe, so I just set up another free trial.

[2015-12-07 15:25] hdoggett commented on #100
Let's hold off on this for now. I just signed up for another free trial.

On Sun, Dec 6, 2015 at 3:32 PM, Jen Simmons notifications@github.com
wrote:

[2015-12-07 15:35] hdoggett commented on #101
I posted what I have so far against my better judgement. :/
I should be done with the final 20 minutes today and can most likely get you a proper version tomorrow by end of day.

[2015-12-07 20:12] hdoggett commented on #101
The transcript has been uploaded for your viewing pleasure.

[2015-12-08 00:00] jensimmons commented on #101
Thanks for finishing this up right away.

Yeah, I should add a note to the directions that the transcripts for the
latest yet-to-be-published transcripts have to be done right away, because
the show can't be published without the transcript.

Jenn Schlick has been doing all the new shows all year, so it hasn't come
up before.

The older shows can take as long as people want. They are already
publi

[2015-12-08 00:03] jensimmons opened #102 "Episode 112"
I just got word from our editor that episode 112 will be done with editing by the end of the day tomorrow — Tuesday night, Dec 8. It's a show on The Internet of Things with Stephanie Rieger.

So it's not time to transcript it yet, I just wanted to give Team Web Ahead a heads up on the timing. I'll want to publish this show Dec 21. (Sticking to our every two weeks on Tuesday schedule — did you know

[2015-12-08 16:12] hdoggett commented on #101
You're welcome! I'm glad I didn't wind up mucking things up for you. Happy holidays!

[2015-12-08 17:35] jlschlick commented on #102
@hdoggett, so glad you're on board! Are you able to take this one?

[2015-12-09 17:02] hdoggett commented on #102
Hey Jenn! Thanks for asking me. I wouldn't be able to commit to that deadline. Depending on when it's ready, I could start it for someone else to finish. My last day in the office before Christmas is 12/15.

[2015-12-09 17:09] jlschlick commented on #102
@hdoggett Cool, thanks for the quick response! If you're able to start it, maybe someone else on the team can finish it. I'm not able to get to this one by the 21st.

[2015-12-09 17:23] mattsugihara commented on #102
I'd be more than happy to work on a part of it, too
On Wed, Dec 9, 2015 at 9:09 AM Jenn Schlick notifications@github.com
wrote:

Matt Sugihara

[2015-12-19 21:59] mattsugihara commented on #102
Hey all,

Checking in on this. I don't see any notes on the site. Has any progress been made?

In case someone's already started, I'm going to starting at ~32:45 ("Stephanie: That does sound right..."), but let me know if that's duplicate work and I can work elsewhere.

[2015-12-22 03:29] mattsugihara commented on #102
should have the complete transcript done tonight.

[2015-12-22 06:58] mattsugihara commented on #102
uploaded.

[2015-12-28 14:40] hdoggett commented on #102
Thanks, Matt! I never saw that the audio was available (maybe because I was only checking here?) Thanks for getting it done. Happy new year. :dancers:

[2015-12-31 23:46] mattsugihara commented on #102
yeah, for sure! I guess links to transcripts that aren't yet live go up at

http://cdn.5by5.tv/audio/broadcasts/webahead/[year]/webahead-[episode number].mp3

I just sporadically checked the appropriate link until it resolved. It seemed to go up sometime after that Tuesday, though.

@jensimmons sorry if we delayed the launch!

Happy new year all!

[2016-02-02 22:34] jensimmons commented on #102
Hello again.

112

Guess what. It's not done.

After the show was recorded and before it was published, it went out of date. So I recorded a second interview of 30 mins, and am tacking it on at the end.

I'm also replacing the intro, and adding a little bit at almost the very end of the existing ep112 so that people know to not stop listening.

What does this mean for the transcript? We can use 98

[2016-02-03 02:55] mattsugihara commented on #102
On the one hand, that's awesome that things are moving so quickly!

I'm out of the country right now and can't commit to getting it done, but this was a fun one.

[2016-02-03 13:55] hdoggett commented on #102
Oh, Jen. This is a hellah week for me. I'm not sure I can get it done,
either. Let me see what I can do tonight. I will keep you posted. -H

On Tue, Feb 2, 2016 at 9:55 PM, Matt Sugihara notifications@github.com
wrote:

[2016-02-03 14:12] hdoggett commented on #102
Jen, where is the link to the audio? How do I get to the current
transcript? I might be able to work on this after work tonight (530-7) for
a bit, so I'd like to hit the ground running at 5:30pm if at all possible.

On Wed, Feb 3, 2016 at 8:55 AM, Holly Doggett hollyjdoggett@gmail.com
wrote:

[2016-02-03 16:19] jensimmons commented on #102
Thank you everyone for responding! Even when you are too busy to help with
a transcript, it's a huge help to hear from people so we can figure out how
can do it.

There isn't a sound file yet. I expected it to show up at
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/w...
http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-112.mp3
yesterday
afternoon. But it's n

[2016-02-03 16:45] jensimmons commented on #102
I just heard back. Hopefully the show will be edited tonight. I'll be after 8pm EST before work starts.

I'll keep you updated as I hear how things are going.

[2016-02-03 19:22] hdoggett commented on #102
Thanks, for letting me know, Jen. I did notice it was only an hourish and
knew that couldn't be it. -H

On Wed, Feb 3, 2016 at 11:45 AM, Jen Simmons notifications@github.com
wrote:

[2016-02-03 19:27] jensimmons commented on #102
Yeah... the workflow surrounding editing the shows is not ideal. I'm working on a new way, something that will hopefully greatly improve the quality while eliminating the confusion. Not for 112, but perhaps for the next episode.

[2016-02-03 21:45] JasonNeel commented on #102
I'm not the quickest at doing these, but if no one else is available and with it only being a partial episode needing transcribed, I could see what I can do with it. Haven't done anything in a while and I've got the itch to contribute.

[2016-02-03 23:14] hdoggett commented on #102
Go for it, Jason!!!

On Wed, Feb 3, 2016 at 4:45 PM, Jason Neel notifications@github.com wrote:

[2016-02-04 19:31] jensimmons commented on #102
It's up. Went up last night. At the usual address: http://fdlyr.co/d/webahead/cdn.5by5.tv/audio/broadcasts/webahead/2015/webahead-112.mp3

[2016-02-04 19:32] jensimmons commented on #102
Please let me know if it sounds weird! I frequently don't listen to the show, because it's super hard to listen to myself!! But if there are things about the edit that sound awkward or wrong, I want to know so we can fix it before publishing! I guess that makes you all the beta testers for The Web Ahead. :)

[2016-02-04 21:38] JasonNeel commented on #102
Cool! I saw that it looked like it was up this morning. I’ll start working on this hopefully tonight.

[2016-02-05 00:00] JasonNeel commented on #102
I just got through transcribing the new intro and it sounded pretty good to me. There may be a slight difference in the volume level, though. Not sure if you care so much about that. The new intro was a tad louder than the original interview with Stephanie. But the transition from the sponsor break at the beginning and the start of the interview was pretty smooth, in my opinion.

[2016-02-06 11:49] JasonNeel commented on #102
@jensimmons I'm working on the interview with Jonas, and at about the 1:24:00 mark, you pause the interview to have him adjust his mic volume. I wasn't sure if this was intended to be in the final edit or not?

[2016-02-06 18:21] JasonNeel commented on #102
Posted the updated transcript. Should be good to go, unless you decide to take that few minutes out where you are having Jonas adjust his microphone. And if that's the case, really only a handful of time codes would need to be adjusted.

[2016-02-06 19:11] jensimmons commented on #102
Terrific! Thank you!
And yes — that was a mistake to leave in having Jonas adjust his mike.
Thanks for catching that.

Jen Simmons
Designer & Developer Advocate at Mozilla
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons http://twitter.com/jensimmons

On Sat, Feb 6, 2016 at 1:21 PM, Jason Neel notifications@github.com wrote:

[2016-02-19 00:16] #102 closed, assigned to nobody

[2016-02-19 00:16] #101 closed, assigned to nobody

[2016-02-19 00:18] jensimmons opened #103 "Episode 113: Standing on Turtles with Husani Oakley — OUR NEXT NEW SHOW"
Episode has been sent off to be edited. It should be done by tomorrow night. I'll post a URL once it's done. (It'll be in a new place this time, if all goes well.)

Because of one of the sponsors, it _has_ to be published ASAP. Monday evening at the latest.

Any takers?

[2016-02-19 18:31] jensimmons commented on #103
Here's the show!
https://www.dropbox.com/s/f6e3th0eu26a6te/webahead113.mp3?dl=0

[2016-02-20 14:45] akshaynaik404 opened #104 "Episode 66: Web Components with Peter Gasston"
Hello everyone!

My name is Akshay, and I am going to transcribe Episode 66: Web Components with Peter Gasston.

Thanks for the opportunity.

[2016-02-20 14:53] #104 closed, assigned to nobody

[2016-02-20 14:53] akshaynaik404 commented on #104
Just found out transcript is already there. Srry.

[2016-02-20 16:54] jensimmons commented on #104
Hi Akshay! Welcome.

I'm glad you saw this episode has a transcript before working on a duplicate.

You can find a list of the shows that still need transcripts at: http://thewebahead.net/transcripts/needed if you want to grab another one.

[2016-02-20 16:56] #100 closed, assigned to nobody

[2016-02-20 16:58] jensimmons commented on #81
This transcript is done through about minute 44. The show is 90 minutes — so halfway done. The first half is published, it'd be cool to get the second half done sometime.

(Just making a note, as I cleanup issues. No pressure, Cheryl. Anyone can pick this task up.)

[2016-02-20 16:59] #79 closed, assigned to nobody

[2016-02-20 17:07] jensimmons commented on #73
Anyone who wants to grab this one can.

[2016-02-20 17:08] jensimmons commented on #77
This transcript is done through minute 18. Still has 53 minutes to go. Anyone can grab this task — it's open to all.

[2016-02-20 17:11] jensimmons commented on #71
Looks like this wasn't started. Or if it was, post what's been done in Drupal (or here) so we can get it in the system. Otherwise, anyone feel free to grab this task, and start at the beginning.

[2016-02-20 17:12] #68 closed

[2016-02-20 17:14] jensimmons commented on #70
It doesn't look like any of this transcript has been done. (If I'm wrong ksenzee, post what you've got!) Anyone feel free to grab this task.

[2016-02-20 17:15] jensimmons commented on #7
Anyone feel free to grab this one.

[2016-02-20 17:20] jensimmons opened #105 "WHICH ONE SHOULD YOU PICK?? (Help info)"
Choose anyone that you want. If you've never done one before, it's best to start with an older show.

There's a list of show that don't have a transcript at all at: http://www.thewebahead.net/transcripts/needed

You can see the shows that have a partial transcript, that needs to be finished, here in the Github issue cue.

Pick a topic that interests you the most. If there's not GitHub issue for th

[2016-02-21 17:49] akshaynaik404 opened #106 "Episode 50: Web Platform Docs with Peter Lubbers and Scott Rowe"
Hello everyone,

My name is Akshay, and I will be transcripting Episode 50: Web Platform Docs with Peter Lubbers and Scott Rowe.

Just give me a go ahead and I will dive right into it @jensimmons .

[2016-02-21 18:13] jensimmons commented on #106
Go for it! Thanks.

[2016-02-21 19:00] akshaynaik404 commented on #106
@jensimmons Thanks for the quick reply. I am succesfully logged in but can't find "add content" button.

[2016-02-21 19:02] jensimmons commented on #106
Right — I have to promote your account to give you the right privileges. I just did so — check again.

[2016-02-21 19:02] jensimmons commented on #106
Should be here: http://www.thewebahead.net/node/add

[2016-02-21 19:09] akshaynaik404 commented on #106
Got it.

Thanks.

[2016-02-22 22:41] jensimmons commented on #103
I published the episode because there was a deadline for a sponsor. If anyone still wants to do the transcript, that would be groovy.

[2016-02-24 00:20] jensimmons opened #107 "Please don't guess the fdlyr.co URLs anymore"
Over at 5by5 it seems when people try to guess the URLs for future show and hit a fdlyr.co/foo URL that doesn't actually exist it knocks over the stats counter. I'm not sure what's up, but could I ask that folks here not try to find future shows at fdlyr.co URLs anymore. In fact, they won't be there. Starting with episode 113, all newly edited shows will be stored in Dropbox. I'll be putting them

[2016-02-27 19:57] mattsugihara commented on #103
Back in the US and will start on this right away.

[2016-02-27 22:01] jensimmons commented on #103
Excellent! Thanks Matt.

-- 
Jen Simmons
Designer & Developer Advocate at Mozilla
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons

On February 27, 2016 at 2:57:14 PM, Matt Sugihara (notifications@github.com) wrote:

Back in the US and will start on this right away.

—
Reply to this email directly or view it on GitHub.

[2016-03-03 16:23] jensimmons opened #108 "ep114"
Coming soon! (Like maybe tomorrow — Friday March 4).
Rachel Andrew was the guest, and we talked about Layout Layout Layout.

Any volunteers? I'd like to publish this show next week.

(To be clear, the show has _not_ been edited yet, but it will be done soon. I will post a comment here with the URL once it's ready.)

[2016-03-04 23:17] jensimmons commented on #108
Here it is!
https://www.dropbox.com/s/9i73ger3s8ny2ni/webahead114.mp3?dl=0

Anyone volunteer to transcribe by Monday evening? I'd like to publish it next week, like Tues March 8, to keep on the every-other week schedule.

[2016-03-06 21:34] jensimmons commented on #108
Ok, I'm going to take care of this one myself. So never mind. I believe 113 is still Needs-to-Be-Done. Or 115 will be coming in a week or two.

[2016-03-06 21:34] #108 closed, assigned to nobody

[2016-03-06 23:48] mattsugihara commented on #108
I'm in the middle of a final polishing pass on 113. The transcript is
basically done, just making sure I spelled everyone's name properly and
that each sentence makes sense.

Will have 113 uploaded by Monday the 14th.

Matt Sugihara

[2016-03-23 16:32] nplayfair opened #109 "Episode 36: Sass with Scott Kellum"
Hi @jensimmons I sent a message through to contact form to enquire whether you're still looking for transcribers but I know you're probably very busy right now. Is it ok for me to get started on this one?

[2016-03-23 19:48] jensimmons commented on #109
Sounds good to me! I just emailed you back. Sorry for the delay, yes, with writing and giving two new talks back to back I got behind on email. Catching up now. And thanks!

[2016-03-24 01:04] nplayfair commented on #109
Cheers Jen! No need to apologise, I know you have a lot on with all the talks and everything. I'll get cracking on this tomorrow.

[2016-04-01 20:05] ksenzee commented on #70
Oops! Left it hanging. I've posted what I have on the site. If someone wants to grab this, great! Just mention it here so I don't pick it up again.

[2016-04-02 17:04] jensimmons commented on #70
Thanks @ksenzee!

[2016-04-09 17:37] nplayfair commented on #109
@jensimmons Quick update: I'm still working on this but it's taking a while because I've not done any transcribing before and I've been a bit busy. I've done up to around the 30 minute mark, could you have a quick look and see if I'm on the right track please? I don't know whether I've overdone it with the timestamps...

https://gist.github.com/nplayfair/1a4dbfbd3390227720f0fb6a89556071

[2016-05-09 03:54] jensimmons opened #110 "Episode 115"
I published ep 115 without a transcript because of time constraints and sponsor commitments — but I hate that it doesn't have a transcript. Can anyone jump in and work on this?

http://thewebahead.net/115

[2016-05-09 03:59] mattsugihara commented on #110
Will start this week.

## If anyone wants to tag team, let me know and we can coordinate!

Matt Sugihara

[2016-05-19 20:39] jensimmons commented on #110
Any progress on this? If not, I'll look into getting it done someplace. Let me know.

[2016-05-21 23:33] mattsugihara commented on #110
I'm about 20 minutes in so far. I have a bunch of flights over the next
week though, so I can have it finished by the 30th.

If you want it done sooner, I'm happy to post what I've got so far for

## someone else to pick up.

Matt Sugihara

[2016-05-23 16:51] jensimmons commented on #110
That sounds good. Having it done by May 30 would be a huge help. I can proofread it, too — so it doesn't have to be perfect.

[2016-05-23 19:27] jensimmons commented on #109
First, let me apologize for taking far too long to respond to this. I've been traveling a _lot_, and got behind on email.

Second, YAY!! I'm so happy to see this.

Third, you don't need to put in so many timestamps. I feel like one ever 5-8 minutes or so is plenty. In fact, maybe fewer. I figure if there's a timestamp at the beginning of each new idea / each new section of the conversation, that'l

[2016-05-25 16:42] nplayfair commented on #109
That's ok Jen, I have been quite busy myself but I'm determined to finish at least this episode!

I've taken out some timestamps so they are only where there's a new idea being mentioned, I hope this is an improvement. I've got up to about the 50 minute mark but I need to go back and tag a few things, find some pull quotes etc.

[https://gist.github.com/nplayfair/1a4dbfbd3390227720f0fb6a89556071](

[2016-06-03 22:23] jensimmons commented on #110
THANK YOU MATT!!!!! I just cleaned up some of the mistakes and published this transcript. I'll have a change tomorrow to read everything and edit any more mistakes — but a transcript with typos is still _way_ better than no transcript. So thank you!!! It was really bugging me that we didn't have 115.

[2016-06-03 22:23] #110 closed, assigned to nobody

[2016-06-04 11:28] mattsugihara commented on #110
For sure! I wish I had the chance to clean it up, but glad it's at least up

## now!

Matt Sugihara

[2016-06-05 15:27] mattsugihara commented on #103
Is there anything remaining on this?

[2016-06-05 17:26] jensimmons commented on #103
Nope. It's published! Thanks. Closing...

[2016-06-05 17:26] #103 closed, assigned to nobody

[2016-06-10 10:24] mattsugihara commented on #73
on it!

[2016-06-11 15:41] mattsugihara commented on #73
done

[2016-06-11 16:29] jensimmons commented on #73
Yay!! This is a good one. I'll publish it as soon as I can. :)

On June 11, 2016 at 4:41:55 PM, Matt Sugihara (notifications@github.com(mailto:notifications@github.com)) wrote:

##

Jen Simmons
Designer & Developer Advocate at Mozilla
Host and Executive Producer of The Web Ahead
http://thewebahead.net
http://jensimmons.com
twitter: jensimmons

[2017-02-11 15:10] akshaynaik404 commented on #106
Sorry, that I completely forgot about this...
I haven't made much progress on it either...

If anyone want, please feel free to jump on this .